/*
 * cassettes
 */

.modCsts
  margin: 8px
  .cstsHdLv1
    color: #fff;
    background-color: $material-red900
    text-align: center
    padding: 6px 0 4px;
    font-weight: bold
    border-radius: 4px 4px 0 0
  .modCst
    display: block
    border: solid 1px #e1e2e3
    border-top: none;
    &:last-child
      border-radius: 0 0 4px 4px
  .text
    font-size: 12px