/*
 * forms
 */

.modInput
  padding: 6px
  border: solid 1px #ccc
  display: flex
  .inputText
    border: none
    font-size: 14px
    flex: 1 1 auto
    -webkit-box-flex: 1
    -webkit-flex: 1 1 auto
    align-self: center
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    display: block;