/*
 * layout all
 * layout：共通のコンテンツをscss化する。
 */

@import "_globalFooter";
@import "_globalHeader";
@import "_globalNav";
@import "_main";
@import "_modal";
@import "_search";

@import "partials/_all";
@import "pages/_all";