/*
 * header
 */

.lyGlobalHeader
  position: relative
  height: 24px
  padding: 10px
  border-bottom: solid 1px #ccc
  .siteTitle
    font-family: 'Montserrat'
    color $material-red700
    font-size: 20px
    position: absolute
    left: 50%
    top: 4px
    z-index: 1
    margin-left: -40px
  .triggers
    padding-top: 2px
    clearfix()
    .trigger.is-showGlobalNavTrigger
      float: left
    .trigger.is-showSearchTrigger
      float: right

