/*
 * modal
 */

.lyModal
  width: 100%;
  height: 100%;
  position: absolute
  top: 0
  left: 0
  z-index: $modal-z
  background: rgba(0, 0, 0, 0.8)
  .lyModalIn
    background: #fff
    margin: 6px
    border-radius: 4px
  .modHdLv2
    text-align: center
    padding: 6px 32px;
    border-bottom: solid 1px #ccc
  .modalCloseTrigger
    position: absolute
    top: 7px
    right: 10px
    font-size: 20px
    padding: 5px
    line-height: 1
    color: #666
    font-weight: bold
  .modSourceText
    text-align: right
  .modalAd
    margin: 10px auto
    text-align: center;

