/*
 * search
 */

.lySearch
  width: 100%;
  height: 100%;
  position: absolute
  top: 0
  left: 0
  z-index: $modal-z
  background: #fff
  .lySearchHaad
    position: relative
    height: 24px
    padding: 10px
    border-bottom: solid 1px #ccc
  .hd
    font-size: 16px
    text-align: center
  .searchAd
    margin: 10px
  .searchCloseTrigger
    position: absolute
    top: 10px
    left: 10px
    font-size: 20px
    color: $moderation-text-color
  .searchConditions
    padding: 10px