/*
 * reset
 */

global-reset();

body
  margin: 0;
  padding: 0;

body
  color: $default-text-color;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 1.6;

button
  border: none;
  padding: 0;
  font-size: 13px;
  outline-width: 0;

label
  cursor: pointer;

a
  text-decoration: none;
  font-size: 14px;
  color: $moderation-text-color;

input[type="text"],
textarea
  outline-width: 0

i
  font-style: normal