/*
 * setting
 * setting：各変数の定義。
 */

 // Fonts
 @import url(http://fonts.googleapis.com/css?family=Montserrat);

// Grid
$containerWidth = 0px;

// Responsiveness Settings

// Spacing

// Typography

// Font

// color
$default-text-color = #222;
$moderation-text-color = #7d7d7d;

//z-index
$modal-z = 100;
$search-z = 100;
$globalNav-z = 100;

//material design
//http://www.google.com/design/spec/style/color.html#color-color-palette

$material-red500  = #F44336;
$material-red50   = #FFEBEE;
$material-red100  = #FFCDD2;
$material-red200  = #EF9A9A;
$material-red300  = #E57373;
$material-red400  = #EF5350;
$material-red500  = #F44336;
$material-red600  = #E53935;
$material-red700  = #D32F2F;
$material-red800  = #C62828;
$material-red900  = #B71C1C;
$material-redA100 = #FF8A80;
$material-redA200 = #FF5252;
$material-redA400 = #FF1744;
$material-redA700 = #D50000;
