/*
 * module/list
 */

.prod-mod-clause-list {
  @include clearfix();
  list-style-type: none;
  &.has-tags {
    li {
      margin-right: 5px;
    }
  }
  li {
  	float: left;
    margin: 0 5px 5px 0;
  }
}